
html{
    background-image: url(images/foodOnSIde.jpg);
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
}

.tabs{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    padding-bottom: 5px;
    padding-top: 5px;
}

.level-item a{
    color: black;
    /* font-weight: bolder;
    border-style: solid;
    border-width: thin; */
    text-shadow: #F78F6D;
    /* border-radius: 5px; */
    padding: 5px;
}

/* doesn't work */
.level-item i {
    color: white;
}

.button{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black;
}

/* Elements only in index html */

#ingredientSearch{
    display: inline-block;
}

th{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black !important;
}

/* Elements that only exist on results html*/

#favRecipes{
    min-height: 300px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #F78800;
}

#favRecipes h1{
    background-color: #F78800;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
}

#favJokes{
    min-height: 300px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #F78800;
}

#favJokes h1{
    background-color: #F78800;
    font-size: 2rem;
    color: white;
    border-radius: 10px;  
}