
html{
    background-image: url(images/foodOnSIde.jpg);
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
}

body{
    color: rgb(87,37,28);
}

.tabs{
    background-image: linear-gradient(45deg, rgb(254, 137, 101, .8), rgb(190, 215, 193, .8), rgb(119, 119, 136)) ;
    padding-bottom: 5px;
    padding-top: 5px;
    color: rgb(87,37,28) !important;
}


.button{
    background-image: repeating-linear-gradient(20deg, rgb(255, 255, 255, .9), #BED7C1, #eb896b, rgb(255, 255, 255, .9)) ;
    color: rgb(87,37,28) !important;
    font-weight: bold;   
}

.button:hover{
    border: 1px solid rgb(87,37,28, .5);
}

.saveBtn{
    background-image: linear-gradient(45deg, rgb(255, 255, 255, .9), #BED7C1) ;
    color: rgb(87,37,28);
}

span{
    color: rgb(87,37,28);
}
/* Elements only in index html */

#indexInstructions{
    background-color: rgb(236,75,70, .3);
}

#indexInstructions:hover{
    background-color: rgb(236,75,70, 1);
    display: block;
}

#indexInstructions p{
    font-weight: bold;
    color: white;
}

#ingredientSearch{
    display: inline-block;
}
#ingredientInput{
    color: rgb(87,37,28);
}


#ingredientsTable{
    background-image: linear-gradient(45deg, rgb(255, 255, 255, .9), rgb(254, 137, 101, .8), #BED7C1, rgb(127,127,135)) ;
    color: rgb(87,37,28) !important;
    border-radius: 5px;

}

th{
    color: rgb(87,37,28) !important;
    
}

td{
    background-image: repeating-linear-gradient(90deg, rgb(255, 255, 255, .9), rgb(255, 255, 255, .9));
}


/* Elements that only exist on results html*/

#showjokesetup{
    border-radius: 10px;
}

.modal-card-head{
    background-color: rgb(119, 119, 136);
}

.modal-card-head p{
    color: white;
}


.modal-card-foot{
    background-color: rgb(119, 119, 136);
}

#resultsContentContainer {
    background-color:rgb(255, 255, 255, .7);
    color:black;
    font-weight: bolder;
    float: left;
}
#display li{
    display: flex;
    justify-content: space-between;
    background-color:rgb(254, 137, 101) ;
    opacity: 0.75;
}

#resultsContentContainer{
    background-color: rgb(255, 255, 255, .7);
    color: rgb(76,75,75);
    font-weight: bolder;
    float: left;
}

#display li{
    display: flex;
    justify-content: space-between;
}



#favRecipes{
    min-height: 300px;

    padding: 5px;
    background-image: linear-gradient(90deg, rgb(119, 119, 136, .7), rgb(190, 215, 193, .85));
    border-radius: 5px;
}

#favRecipes:hover{
    background-image: linear-gradient(90deg, rgb(119, 119, 136, .9), #BED7C1);
}

@media only screen and (max-width: 1024px) {
    #favRecipes{
      background-image: linear-gradient(90deg, rgb(119, 119, 136, .9), #BED7C1);
    }
  }

#favRecipes h1{

    background-image: repeating-linear-gradient(90deg, rgb(255, 255, 255, .6), rgb(255, 255, 255, .9)  );
    border-radius: 4px;
    color: rgb(87,37,28);
}

#favoritesDisplay a{
    display: inline-block;
    
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    font-size: 1.25rem;
}

#favoritesDisplay a:hover{
    color: rgb(87,37,28);
}