
html{
    background-image: url(images/foodOnSIde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: #F78800;
}

.navbar-item{
    color: white;
}

.navbar-item a{
    color: white;
}

.button{
    background-color: #f78800;
    color: white;
}

th{
    background-color: #f78800;
    color: white !important;
}