
html{
    background-image: url(images/foodOnSIde.jpg);
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
}

.tabs{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    padding-bottom: 5px;
    padding-top: 5px;
    color: black !important;
}


.button{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black;
}

/* Elements only in index html */

#indexInstructions{
    background-color: rgb(236,75,70, .75);
}

#indexInstructions p{
    font-weight: bold;
    color: white;
}

#ingredientSearch{
    display: inline-block;
}

th{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black !important;
}

.display { background-color: rgba(252, 177, 15, 0.55) ;
           color: black;
           float: left;
           max-height: fit-content;
           max-width: fit-content;
           }

/* Elements that only exist on results html*/

#favRecipes{
    min-height: 300px;
    color: black;
    background-color: rgb(256, 256, 256, .9);
    border-radius: 15px;
}

#favRecipes h1{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    border-radius: 10px;
}

#favJokes{
    min-height: 300px;
    color: black;
    background-color: rgb(256, 256, 256, .9);
    border-radius: 15px;
}

#favJokes h1{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    border-radius: 10px; 
}