
html{
    background-image: url(images/foodOnSIde.jpg);
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
}

.tabs{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    padding-bottom: 5px;
    padding-top: 5px;
    color: black !important;
}


.button{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black;
    font-weight: bold;
}

.saveBtn{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black;
}

/* Elements only in index html */

#indexInstructions{
    background-color: rgb(236,75,70, .75);
}

#indexInstructions p{
    font-weight: bold;
    color: white;
}

#ingredientSearch{
    display: inline-block;
}

th{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    color: black !important;
}


/* Elements that only exist on results html*/

#display{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1, 0.55) ;
    padding-bottom: 5px;
    padding-top: 5px;
    color: black !important; }

#resultsContentContainer {
    background-color: rgb(255, 255, 255, .7);
    color: rgb(76,75,75);
    font-weight: bolder;
    float: left;
}
#display li{
    display: flex;
    justify-content: space-between;
}






#favRecipes{
    min-height: 300px;
    color: black;
    background-color: rgb(256, 256, 256, .9);
    border-radius: 15px;
}

#favRecipes h1{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    border-radius: 10px;
}

#favJokes{
    min-height: 300px;
    color: black;
    background-color: rgb(256, 256, 256, .9);
    border-radius: 15px;
}

#favJokes h1{
    background-image: linear-gradient(45deg, #FE8965, #BED7C1) ;
    border-radius: 10px; 
}