
html{
    background-image: url(images/foodOnSIde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: #F78800;
}

.navbar-item{
    color: white;
}

.navbar-item a{
    color: white;
}

.button{
    background-color: #f78800;
    color: white;
}

#ingredientSearch{
    display: inline-block;
}

th{
    background-color: #f78800;
    color: white !important;
}

/* Elements that only exist on results html*/

#favRecipes{
    min-height: 300px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #F78800;
}

#favRecipes h1{
    background-color: #F78800;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
}

#favJokes{
    min-height: 300px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #F78800;
}

#favJokes h1{
    background-color: #F78800;
    font-size: 2rem;
    color: white;
    border-radius: 10px;  

    
}
          